apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: project-bojan
  labels:
    app: postgres
spec:
  clusterIP: None
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: postgres

